@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: 900; }
.transition { transition: 1s all ease; }
.white{ color: #FFF; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 90.40%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
* { box-sizing: border-box; }

header{ 
  width: 100%;
  padding: 29px 0;
  border-bottom: 2px solid #444;
  position: absolute;
  z-index: 1;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo { width: 12.5%; }
.logo a { text-indent: -9999px }
.logo img { float: right; }

.architect { 
  padding: 6px 23px;
  border-left: 2px solid #444;
  margin-left: 19px;
  margin-right: auto;
  color: #BBB; 
  font-size: 15px;
}

.hamburger { display: none; }
.nav-menu { width: 100%; }

.nav-menu a {
  padding: 7px 12px;
  color: #DDD;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 600;
  transition: color .5s;
}

.nav-home a { padding-right: 0; }
.nav-blog { padding-right: 10px; }
.search { 
  display: inline-block;
  vertical-align: bottom; 
}

.search-icon a { text-indent: -9999px; }

.search-icon a::after {
  content: "\f002";
  color: #CCC;
  font: 900 16px "Font Awesome 5 Free";
  float: right;
  text-indent: 0;
}

.search-form { display: none; }
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*banner starts here*/
.banner {
  position: relative; 
  background-color: #22232D;
}

.banner .wrapper { width: 98%; }

.banner-content li { display: none; }
.banner-content li:nth-of-type(1) {
  display: block;
  background-image: url(../Images/banner.jpg);
  background-repeat: no-repeat;
  background-size: 62.5% 100%;
  background-position: right;
  background-color: #22242E;
}

.banner-slider h2 {
  width: 30%;
  padding: 350px 0 355px 3.5%;
  font-size: 50px;
}

.edifices {
  display: inline-block;
  font-size: 22px;
  letter-spacing: 40px;
}

.rectangle-slider {
  margin-left: 3.5%;
  position: absolute;
  bottom: 8.2%;
}

.rectangle-slider a {
  text-indent: -9999px;
}

.rectangle-slider a::after {
  content: "";
  width: 40px;
  height: 8px;
  border-bottom: 1px solid #888;
  margin-left: 2px;
  float: right;
  text-indent: 0;
  transition: background-color .5s;
}

.rectangle-slider li:nth-child(3) a::after { background-color: #FFF; }
/*banner ends here*/
/*bold projects section starts here*/
.projects {
  padding: 83px 0 327px;
}

.projects .wrapper {
  display: flex;
  justify-content: space-between;
}

.project-text { width: 45%; }

.project-text > span {
  color: #AAA;
  letter-spacing: 32px;
}

.project-text h3 {
  padding: 70px 0 35px;
  font-size: 50px;
}

.heading-break { display: block; }

.project-text p {
  width: 85%;
  font-size: 18px;
  color: #BBB;
  line-height: 24px;
}

.project-pictures {
  position: relative;
  width: 49%;
}

.marble-design {
  position: absolute;
  left: 0;
  top: 55%;
  transform: translateX(-35%);
}
/*bold projects section ends here*/
/*contact section starts here*/
.contact {
  padding-bottom: 60px;
}

.contact h3 { font-size: 52px; }
.question { display: block; }

.contact-form input,.contact-form textarea {
  width: 64%;
  padding-bottom: 15px;
  padding-left: 0;
  border: none;
  border-bottom: 1px solid #DDD;
  margin-top: 54px;
} 

.contact-form ::-webkit-input-placeholder {
  color: #AAA;
  font-size: 18px;
}
.contact-form ::-moz-placeholder { 
  color: #AAA;
  font-size: 18px;
}
.contact-form :-ms-input-placeholder {
  color: #AAA;
  font-size: 18px;
}
.contact-form :-moz-placeholder {
  color: #AAA;
  font-size: 18px;
}

.submit input {
  width: 16%;
  padding: 22px;
  margin-top: 46px;
  background-color: #22232C;
  color: #FFF;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all .5s;
}
/*contact section ends here*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
.footer-top { background-color: #1F1F20; }

.footer-top .wrapper {
  padding: 20px 0 15px;
  border-bottom: 2px solid #444;
  display: flex;
  justify-content: space-between;
}

/*.footer-menu li { float: right; }*/
.footer-menu a {
  padding: 7px 12px;
  color: #888;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 600;
  transition: color .5s;
}

.footer-menu li:last-child a { padding: 0; }
.footer-menu li:nth-child(1) a { color: #DDD; }
.footer-middle { background-color: #1F1F20; }

.footer-middle .wrapper {
  padding: 18px 0 37px;
  display: flex;
  justify-content: space-between;
}

.footer-architect,.copyright { color: #666; }
.copyright { font-size: 14px; }

.copyright a { 
  color: #27A9CD; 
  transition: color .5s;
}

.social {
  display: flex;
  justify-content: center;
}

.social a { text-indent: -9999px; }

.facebook-icon a::before {
  content: "\f39e";
  padding:0 10px;
  display: inline-block;
  color: #888;
  font: 900 14px 'Font Awesome 5 Brands';
  vertical-align: middle;
  float: right;
  text-indent: 0;
  transition: all 0.5s ease;
}

.twitter-icon a::before { content: "\f099"; }

.instagram-icon a::before { 
  content: "\f16d"; 
  padding-right: 0;
}

.footer-bottom .wrapper { 
  width: 100%; 
  padding: 5px 0;
  color: #AAA;
}

.footer-bottom a {
  color: #98CFF1;
  transition: color .5s ease;
}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for hover starts here*/
@media only screen and (min-width: 995px) {
  .nav-menu a:hover,
  .search-icon:hover a:after {
    color: #27A9CD;
    transition: color .5s;
  }

  .rectangle-slider li:hover a::after {
    background-color: #FFF;
    transition: background-color .5s;
  }

  .submit input:hover {
    border-radius: 5px;
    background-color: #98CFF1;
    color: #000;
    transition: all .5s;
  }

  .footer-menu a:hover {
    color: #DDD;
    transition: color .5s;
  }

  .copyright a:hover {
    color: #98CFF1;
    transition: color .5s;
  }

  .facebook-icon:hover a::before,
  .footer-bottom a:hover {
    color: #27A9CD;
    transition: all 0.5s ease;
  }
}  
/*media query for hover ends here*/

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .wrapper { width: 95%; }

  header { 
    padding: 15px 0;
    background-color: #000; 
  }

  header .logo { 
    margin-left: auto;
    order: 2; 
  }

  header .menu { order: 1; }
  header .architect { order: 3; }
  header .search { order: 4; }

  .hamburger {
    width: 25px;
    height: 25px;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 10;
    text-indent: -9999px;
  }

  .hamburger span {
    height: 2px;
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    background-color: #FFF;
    transition: all .5s ease;
  }

  .hamburger span:nth-child(1) {top:25%;}
  .hamburger span:nth-child(3) {top:75%;}
  .hamburger:hover span:nth-child(2) {opacity:0;}
  .hamburger:hover span:nth-child(1) {transform: rotate(45deg) translate(5px,5px);}
  .hamburger:hover span:nth-child(3) {transform: rotate(-45deg) translate(5px,-5px);}

  .nav-menu {
    width: 20%;
    display: none;
    flex-direction: column;  
    position: absolute;
    top: 80%;
    left:0;
    z-index: 11;
  }

  .nav-menu li { background-color: #555; }
  
  .nav-menu li a {
    color: #FFF;
    padding:10px; 
  }

  .menu:hover .nav-menu { display: flex; }
  .edifices { letter-spacing: 25px; }
  .projects { padding: 61px 0 120px; }
  .projects .wrapper { flex-direction: column; }
  .project-text { width: 100%; }
  .project-text > span { letter-spacing: 16px; }
  .project-text h3 { padding: 28px 0 35px; }

  .project-pictures {
    width: 95%;
    margin: 0 auto;
    margin-top: 28px;
  }

  .marble-design {
    width: 60%;
    margin: 0 auto;
    margin-top: 15px;
    position: static;
    transform: translateX(0);
  }

  .contact-form input,
  .contact-form textarea { width: 90%; }
  .submit input { width: 26%; }

  .footer-top .wrapper {
    flex-direction: column;
    text-align: center;
  }

  .logo { width: 20%; }

  .logo,
  .footer-architect {
    border: none;
    margin: 0 auto;
  }

  .footer-middle .wrapper { flex-direction: column; }
  .copyright { text-align: center; }
  .social { margin: 15px 0; }
}  
/*media query for 995px ends here*/